@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    font-family: "Rubik";
}