@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    font-family: "Rubik";
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background: -webkit-linear-gradient(90deg, #0f134f,#273270,#494c8c);background: linear-gradient(90deg, #0f134f,#273270,#494c8c);
    /*background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(121, 43, 9, 1) 35%, rgba(255, 136, 0, 1) 100%);*/
}

.main-header {
    width: 100%;
    height: 80px;
    background-color: rgba(42, 42, 42, 0.287);
    position: fixed;
    z-index: 1000;
}


.content {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-text {
    color: aliceblue;
    position: relative;
    left: 27px;
}

.content-nav {
    justify-content: space-between;
    position: relative;
    right: 27px;
}

.nav-link {
    padding: 8px 17px;
    color: aliceblue;
    text-decoration: none;
    font-size: 19px;
}

.nav-link:hover {
    background-color: rgba(27, 26, 26, 0.125);
    border-radius: 10px;
    color: #c5c8f7;
}