/*@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
    font-family: "Rubik";
}*/
.main {
    display: flex;
    flex-direction: column;
}

.main-container {
    margin: 0;
    padding: 80px 0 0 0;
    width: 100%;
    height: 88vh;
    display: flex;
    /*border: aliceblue solid 2px;*/
}

.sub-container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    /*border: aliceblue solid 2px;*/
}

.card1 {

    /*background-color: brown;*/
    /*border: black solid 1px;*/
}

.card2 {
    height: auto;
    /*background-color: brown;*/
    /*border: black solid 1px;*/
}

.container-card-text {
    padding-left: 4.5rem;
}

.text-name {
    margin: 0;
    background: -webkit-linear-gradient(rgba(41, 147, 240, 1), aliceblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 7rem;
    text-transform: uppercase;
}



.container-card-p {
    margin: 0 117px;
    position: relative;
    background: #005cad;
    background: linear-gradient(133deg, rgba(0, 92, 173, 1) 0%, rgba(0, 53, 61, 1) 100%);
    color: aliceblue;
    border: aliceblue solid 0.7px;
    border-radius: 1.3rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.description-me {
    margin: 17px;
    font-size: 1.2rem;
}

.social-media {
    display: flex;
    justify-content: space-between;
    margin: 0 117px;
}

.media {
    background: #2993f0;
    background: linear-gradient(90deg, rgba(41, 147, 240, 1) 0%, rgba(32, 0, 158, 1) 100%);
    margin-top: 1.5rem;
    padding: 10px;
    border: aliceblue solid 1px;
    border-radius: 50px;
    color: aliceblue;
    text-decoration: none;
}

.media i {
    font-size: 20px;
}

.media:hover {
    box-shadow: 0 0 17px rgba(255, 255, 255, 0.8);
}


.card2 {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.photo-me {
    background: linear-gradient(rgba(41, 147, 240, 1), transparent);
    border-radius: 230px 230px 0 0;
}

.pt-me {
    width: 324px;
    display: block;
    margin: auto;

}


/*Resposive tablets and cellphones*/
@media screen and (max-width: 950px) {


    .main-container {
        flex-direction: column;
    }

    .card1 {
        order: 1;
        display: flex;
        justify-content: top;
    }

    .pt-me {
        width: 310px;
    }


    .container-card-text {
        position: relative;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-name {
        font-size: 2.3rem;
    }

    .container-card-p {
        margin: 0 21px;
    }

    .social-media {
        margin: 0 45px;
    }
}