.tech {
    margin: 0;
    padding: 17px 20px;
    width: 100%;
    height: auto;
    /*background-color: rgb(240, 137, 12);*/
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;

}

.text-t {
    margin: 0;
    padding: 0 0 17px 0;
    display: flex;
    justify-content: center;
}

.text-tech {
    margin: 0;
    padding: 0;
    color: aliceblue;

}

.container-tech {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;



}

.me-techs {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background: #104471;
    background: linear-gradient(90deg, rgb(49, 99, 143) 0%, rgb(38, 23, 97) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    border: aliceblue solid 0.1px;

}

.me-techs:hover {
    background: linear-gradient(90deg, rgb(69, 134, 191) 0%, rgb(61, 45, 125) 100%);
    box-shadow: 0 0 9px rgba(255, 255, 255, 0.8);
    transition: all 0.4s ease-in-out;
    transform: scale(1.07);

}

.me-techs h3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.logos-tech {
    width: 85px;
}
/*Tablets*/
@media screen and (max-width: 950px) {

    /*.container-tech {
       
    }
    .me-techs {
      
        flex: 0 0 calc(50% - 0.5rem);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }*/


}

/*CellPhones*/
@media screen and (max-width: 650px) {

    .container-tech {
       
    }
    .me-techs {
      
        flex: 0 0 calc(50% - 0.5rem);
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }


}