.tech {
    
    width: 100%;
    height: 60vh;

    background-color: rgb(240, 137, 12);
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.text-t {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.text-tech {
    margin: 0;
    padding: 0;
    color: aliceblue;
    
}

.container-tech {
    width: 100%;
    display: flex;
    justify-content: space-between;



}

.me-techs {
    margin: 0;
    padding: 0;
    width: 150px;
    height: 150px;
    background: #104471;
    background: linear-gradient(90deg, rgb(21, 76, 124) 0%, rgba(32, 0, 158, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
  
}

.me-techs h3 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

.logos-tech {
    width: 85px;
}